<div class="banner-sec" ng-init="fetchSearchBarData()">
     <div class="container">
         <div class="row">
             <div class="col-sm-7">
                 <div class="banner-content">
                     <h1>Enroll with India's <strong>finest tutors</strong> and <strong>Institutes</strong></h1>
                     <p>for Medical and Science Stream</p>
                     <div ng-include="'components/commons/searchFilters/homepageSearchbar.html'"></div>
                 </div>
             </div>
             <div class="col-sm-5">
                 <div class="banner-img">
                     <img src="images/banner-img.png" alt="" class="img-fluid">
                 </div>
             </div>
         </div>
     </div>
 </div>

<div class="section3 section">
        <div class="container">
            <div class="row counter-row">
                <div class="col-sm-3 col-6">
                    <div class="counter-box">
                        <h1><span class="counter">100</span>k+</h1>
                        <h4>Downloads</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-6">
                    <div class="counter-box">
                        <h1><span class="counter">4.5</span></h1>
                        <h4>Rating</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-6">
                    <div class="counter-box">
                        <h1><span class="counter">67</span>+</h1>
                        <h4>Cities</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-6">
                    <div class="counter-box">
                        <h1><span class="counter">3550</span>+</h1>
                        <h4>Instructors</h4>
                    </div>
                </div>
            </div>
            <div class="row testimonial-row">
                <div class="col-md-5 col-sm-6">
                    <div class="test-box">
                        <div class="test-slider slick-initialized slick-slider" role="toolbar"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
                            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 2035px; left: -407px;"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 407px;">
                                <div class="test-inner">
                                    <div class="test-img">
                                        <img src="images/test-img1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="test-content">
                                        <p>StudyPass has done an impressive job by connecting me with an excellent Chemistry Faculty.For the First time, i am able to. studyPass has done an impressive job by connecting me.</p>
                                        <h4 class="author-name">Kunal</h4>
                                        <h5 class="author-des">96% 11th CBSE 2019</h5>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 407px;">
                                <div class="test-inner">
                                    <div class="test-img">
                                        <img src="images/test-img1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="test-content">
                                        <p>StudyPass has done an impressive job by connecting me with an excellent Chemistry Faculty.For the First time, i am able to. studyPass has done an impressive job by connecting me.</p>
                                        <h4 class="author-name">Kunal</h4>
                                        <h5 class="author-des">96% 11th CBSE 2019</h5>
                                    </div>
                                </div>
                            </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 407px;">
                                <div class="test-inner">
                                    <div class="test-img">
                                        <img src="images/test-img2.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="test-content">
                                        <p>StudyPass has done an impressive job by connecting me with an excellent Chemistry Faculty.For the First time, i am able to. studyPass has done an impressive job by connecting me.</p>
                                        <h4 class="author-name">Bineeta</h4>
                                        <h5 class="author-des">98% 11th CBSE 2018</h5>
                                    </div>
                                </div>
                            </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 407px;">
                                <div class="test-inner">
                                    <div class="test-img">
                                        <img src="images/test-img1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="test-content">
                                        <p>StudyPass has done an impressive job by connecting me with an excellent Chemistry Faculty.For the First time, i am able to. studyPass has done an impressive job by connecting me.</p>
                                        <h4 class="author-name">Kunal</h4>
                                        <h5 class="author-des">96% 11th CBSE 2019</h5>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 407px;">
                                <div class="test-inner">
                                    <div class="test-img">
                                        <img src="images/test-img1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="test-content">
                                        <p>StudyPass has done an impressive job by connecting me with an excellent Chemistry Faculty.For the First time, i am able to. studyPass has done an impressive job by connecting me.</p>
                                        <h4 class="author-name">Kunal</h4>
                                        <h5 class="author-des">96% 11th CBSE 2019</h5>
                                    </div>
                                </div>
                            </div></div></div>


                            <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li></ul></div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6">
                    <div class="test-sec-right">
                        <h1 class="men-heding">What our Student say</h1>
                        <p>StudyPass has done an impressive job by connecting me with an excellent Chemistry Faculty.For the First time, i am able to.</p>
                    </div>

                </div>
            </div>
        </div>
</div>

<div class="section5 section" ng-init="fetchHomePageBlogsData()">
    <div class="container">
        <div class="row blog-heding-row text-center">
            <div class="col-md-12">
                <h1 class="men-heding wow bounceInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: bounceInUp;"> Our Blog</h1>
            </div>
        </div>
        <div class="row blog-row">
            <div class="col-md-4 col-sm-6" ng-repeat="blogData in homePageBlogData">
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="{{blogData.image}}" alt="" class="img-fluid">
                    </div>
                    <div class="blog-content">
                        <h4>{{blogData.name}}</h4>
                        <a href="{{blogData.url}}" target="_blank" class="blog-more">Read More</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
