<footer class="section">
    <div class="container">
        <div class="row top-footer">
            <div class="col-md-4">
                <div class="footer-logo">
                    <a href="index.php"><img src="images/footer-logo.png" alt="logo" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-menu list-unstyled">
                    <li><a href="#">about us</a></li>
                    <li><a href="#/search">product</a></li>
                    <li><a href="#">contact us</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
            </div>
            <!--<div class="col-md-4">
                <h4 class="footer-heding">invitation</h4>
                <p>You can experience a FREE demo by subscribing to our list.</p>
                <form action="">
                    <div class="sus-form">
                        <input type="text" name="" placeholder="Enter Email address" class="sus-mail">
                        <input type="submit" value="Subscribe" class="sus-sub">
                    </div>
                </form>
            </div>-->
        </div>
        <div class="row bottam-footer text-center">
            <div class="col-sm-12">
                <ul class="social-menu list-unstyled">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <p>Copyright. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>