<header class="men-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-6">
                <div class="header logo">
                    <a href="#/home">
                        <img src="components/assets/images/header-logo.png" alt="logo" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-6">
                <button class="mobile-menu"><span></span></button>
                <div class="collapse-menu">
                    <button class="close-menu"></button>
                    <ul class="header-menu">
                        <li><a href="#/search">Study Centres</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>

                <div class="login-sec pull-right">
                    <span class="btn" ng-click="openSignupModal()">SIGN UP</span>
                </div>

                <div class="login-sec pull-right">
                    <span >&nbsp;&nbsp;</span>
                </div>
                <div class="login-sec pull-right">
                    <span class="btn" ng-click="openLoginModal()">LOG IN</span>
                </div>
            </div>
        </div>
    </div>
</header>